{% extends "App/app_temp.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='argon.css')}}"/>
{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="container mt-7">
    <div class="row">
      <div class="col-xl-10 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img src="static/pp.jpg">
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-info mr-4">Maybe ?</a>
              <a href=" {{ url_for('settings_page') }}" class="btn btn-sm btn-default float-right">Settings</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center mt-5">
              <h3>
                {{ user_name }}
              </h3>
              <div class="h5 font-weight-300">
                karaaslan18@itu.edu.tr
              </div>
              <div class="h5 mt-4">
                Student
              </div>
              <div>
                Computer Engineering
              </div>
              <hr class="my-4">
              <p>I am not sure but there can be an about me part in here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}