{% extends "App/app_temp.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/argon.css')}}"/>
{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="container mt-7">
    <div class="row">
      <div class="col-md-10 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          {% if not message_list['user'] %}
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img src="{% if show_user.img != None %}data:;base64,{{show_user.img['img']}}{% else %}{{ url_for('static', filename='img/pp.jpg')}}{% endif %}">
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-info mr-4">Maybe ?</a>
              <a href="#" class="btn btn-sm btn-default float-right">Maybe ?</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center mt-5">
              <h3>
                {% if show_user.user_name != None %} {{show_user.user_name}} {% endif %}
              </h3>
              <div class="h5 font-weight-300">
                {% if show_user.email != None %} {{show_user.email}} {% endif %}
              </div>
              <div class="h5 mt-4">
                {% if show_user.edu_level != None %} {{show_user.edu_level}} {% endif %}
              </div>
              <div>
                {% if show_user.department != None %} {{show_user.department}} {% endif %}
              </div>
              {% if show_user.about_me != None %}
                <hr class="my-4">
                <p> {{show_user.about_me}} </p>
              {% endif %}
            </div>
          </div>
          {% else %}
          <div class="card-body pt-0 pt-md-4 text-center">
            <div>
              {% if show_user.email != None %} {{show_user.email}} {% endif %}
            </div>
            <div style="color:red">
              {{message_list['user']}}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}