{% extends "App/app_temp.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootdey.css')}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_event.css')}}"/>
<script>
    var check = function(){
        var p = document.getElementById('inputPassword').value;
        var p1 = document.getElementById('inputNewPassword').value;
        var p2 = document.getElementById('inputNewPasswordAgain').value;

        if (p1 != "" && p2 != ""){
            if (p1 == p2) {
                document.getElementById('message_password').innerHTML = '';
            } 
            else {
                document.getElementById('message_password').innerHTML = 'Passwords do not match!';
            }
        }
        else {
            document.getElementById('message_password').innerHTML = '';
        }

        if(p != "" && p1 != "" && p1 == p2){
            document.getElementById('resetbtn').disabled = false;
        }
        else {
            document.getElementById('resetbtn').disabled = true;
        }
    }
</script>
{% endblock %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="container light-style flex-grow-1 container-p-y mt-5">
        <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action" href=" {{ url_for('settings_page') }}">General</a>
                    <a class="list-group-item list-group-item-action active" href=" {{ url_for('settings_password_page') }}">Change password</a>
                    <a class="list-group-item list-group-item-action text-danger" href="{{ url_for('settings_delete_account_page') }}">Delete Account</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-change-password">
                    <form class="form-sign" method="POST", name="reset_password_form">
                        <small class="form-text text-center" style="color:green">{{message_list['success']}}</small>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="inputPassword" class="form-control" required placeholder="Password" onkeyup="check()">
                            <label for="inputPassword">Current password</label>
                            <small class="form-text" style="color:red">{{message_list['pass']}}</small>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputNewPassword" name="inputNewPassword" class="form-control" required placeholder="New password" onkeyup="check()">
                            <label for="inputNewPassword">New password</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputNewPasswordAgain" name="inputNewPasswordAgain" class="form-control" required placeholder="New password again" onkeyup="check()">
                            <label for="inputNewPassword">New password again</label>
                            <small id="message_password" class="form-text" style="color:red">{{message_list['news']}}</small>
                        </div>

                        <div class="text-right mt-3">
                            <button id="resetbtn" disabled class="btn btn-lg" style="color:white;background-color: indigo;" type="submit">Reset Password</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <small class="form-text" style="color:red">{{message_list['err']}}</small>
        <small class="form-text" style="color:red">{{message_list['db_message']}}</small>
    </div>
{% endblock %}