{% extends "App/app_temp.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootdey.css')}}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_event.css')}}"/>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ url_for('static', filename='js/create_event.js')}}"></script>
<script>
    var reset_img = function(){
        document.getElementById('logo-id').value = "";
        document.getElementById('ppimage').src="{{ url_for('static', filename='img/pp.jpg')}}";
        document.getElementById('fakeUploadLogo').value = "Choose Image: 'png', 'jpg', 'jpeg'";
        document.getElementById('img_name').value = "";
    }
</script>
{% endblock %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="container light-style flex-grow-1 container-p-y mt-5">
        <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" href="{{ url_for('settings_page') }}">General</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('settings_password_page') }}">Change password</a>
                    <a class="list-group-item list-group-item-action text-danger" href="{{ url_for('settings_delete_account_page') }}">Delete Account</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                <div class="tab-pane fade active show">
                <form class="form-sign" method="POST" enctype="multipart/form-data" name="update_profile_form">
                    <small class="form-text text-center" style="color:green">{{update_messages['success']}}</small>
                    <div class="form-group">
                        <div class="row">
                          <div class="input-group col-md-9 my-auto">
                            <div class="input-group-btn">
                              <div class="fileUpload btn fake-shadow" style="color:white;background-color: indigo;">
                                <span><i class="glyphicon glyphicon-upload"></i>Choose Profile Image</span>
                                <input type="file" name="user_img" class="form-control-file" id="logo-id">
                              </div>
                            </div>
                            <input id="fakeUploadLogo" class="form-control fake-shadow" placeholder="Choose Image: 'png', 'jpg', 'jpeg'" disabled="disabled">
                            <input type="hidden" id="img_name" name="img_name" value="initial"> 
                            <button type="button" onclick="reset_img()" class="btn btn-outline-danger">Reset</button>
                          </div>
                          <div class="col-md-3 text-center">
                            <img class="thumbnail img-preview" id="ppimage" src="{% if show_user.img != None %}data:;base64,{{show_user.img}}{% else %}{{ url_for('static', filename='img/pp.jpg')}}{% endif %}">
                            <small class="form-text text-center" style="color:red">{{update_messages['file']}}</small>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Name" value="{% if show_user.user_name != None %}{{show_user.user_name}}{% endif %}">
                            <label for="inputName">Name</label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Educational Level</label>
                            <select class="custom-select" name="level_select">
                                <option>Choose...</option>
                                {% for level in levels %}
                                    <option {% if show_user.edu_level == level[0] %} selected {% endif %}>{{ level[0] }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text" style="color:red">{{message_list['level']}}{{message_list['level_message']}}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Department</label>
                            <select class="custom-select" name="department_select">
                                <option>Choose...</option>
                                {% for dep in departments %}
                                    <option {% if show_user.department == dep[0] %} selected {% endif %}>{{ dep[0] }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text" style="color:red">{{message_list['dep']}}{{message_list['dep_message']}}</small>
                        </div>
                        <div class="form-group">
                            <label class="form-label">About me</label>
                            <textarea class="form-control" rows="2" name="about_me">{% if show_user.about_me != None %}{{show_user.about_me}}{% endif %}</textarea>
                        </div>
                        <div class="text-right">
                            <button id="updatebtn" class="btn btn-lg" style="color:white;background-color: indigo;" type="submit">Update Profile</button>
                        </div>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="text-center">
            <small class="form-text" style="color:red">{{update_messages['err']}}</small>
            <small class="form-text" style="color:red">{{update_messages['db_message']}}</small>
        </div>
    </div>
{% endblock %}