{% extends "Sign/sign_temp.html" %}
{% block title %}Sign In{% endblock %}
{% block style %}
{% endblock %}
{% block headline %}WELCOME{% endblock %}
{% block formcontent %}
  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">ITU email</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-block" style="color:white;background-color: indigo;"type="submit">Sign In</button>

  <p class="mt-3 text-center"> <a href="{{url_for('sign_up_page')}}">SIGN UP</a> / <a href="{{url_for('forgot_password_page')}}">Forgot password?</a></p>
{% endblock %}